/Herencia/nbproject/private/
/Herencia/build/
/Herencia/dist/
/InmuebleConHerencia/nbproject/private/
/InmuebleConHerencia/build/
/InmuebleConHerencia/dist/
/Animales/nbproject/private/
/Animales/build/
/Animales/dist/
/CarreraCiclística/nbproject/private/
/CarreraCiclística/build/
/CarreraCiclística/dist/
/Personas/nbproject/private/
/Personas/build/
/Personas/dist/
